<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="Scripts/jquery.js" type="text/javascript"></script>
        <script src="Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="Scripts/angular.js" type="text/javascript"></script>
        <script src="Scripts/ngStorage.min.js" type="text/javascript"></script>
        <script src="Scripts/ArticleApp.js" type="text/javascript"></script>


        <link href="Style/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="Style/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="Style/StyleSheet.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="myArticleList" >
        <div  ng-controller="myCtrl" id="ArticlesCont" class="row">
            <div class="col-xs-6 col-xs-offset-3 cont">
                <form class="col-xs-12">
                    <div class="ContHdr">
                        <h3>Add Article</h3>
                    </div>
                    <div class="ArticleList col-xs-12">
                        <div class="col-xs-8">
                            <label>Name</label>
                            <input class="form-control" placeholder="Add article name here" required="required" ng-model="addName" id="AddNameInp">                                            
                        </div>                    
                        <div class="col-xs-8">
                            <label>Information</label>
                            <textarea class="form-control" placeholder="Add article information here" required="required" ng-model="addInfo" id="AddInfoInp"></textarea>
                        </div>
                        <div class="col-xs-8 uploadCont">
                            <input id="UploadBtn" type="file" name="pic" onchange="angular.element(this).scope().imageUpload(event)" accept="image/*">

                        </div>
                        <div class="">
                            <button ng-click="addArticle()" id="addArtBtn">Add Article</button>
                        </div>
                    </div>
                </form>
                <div class="col-xs-12">
                    <p id="ErrorMsg">{{errortext}}</p>
                </div>

            </div>
            <div class="col-xs-6 col-xs-offset-3 cont">
                <div class="ContHdr">
                    <h3>My Articles</h3>
                </div> 
                <div id="ulCont">             
                    
                    <article  ng-repeat="Article in $storage.Articles" class="w3-padding-16">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-11">

                                    <h5 class="col-xs-12 bold"><i class="fa fa-address-book"></i> {{Article.ArticleName}}</h5>
                                    <div class="col-xs-3" >
                                        <div class="imgCont" ng-if="Article.imgSrc">
                                            <img ng-src="{{Article.imgSrc}}" alt="">
                                        </div>                                        
                                    </div>
                                    <div class="col-xs-9">
                                        <p>{{Article.ArticleInfo}}</p>
                                    </div>

                                </div>

                                <div class="col-xs-1">
                                    <span ng-click="deleteArticle($index)" style="cursor:pointer;"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
            </div>



        </div>
    </body>
</html>
