/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2017, 11:56:37 AM
    Author     : hessooooo
*/
#ArticlesCont{
    padding-top: 1px;
    margin: 5px;
}
textarea {
    resize: none;
    height: 108px !important;
}
.cont{
    background-color: rgba(232, 228, 228, 0.47);
    margin-bottom: 20px;
}
article:not(:last-child){
    border-bottom: 1px solid;
}
li{
    list-style: none;
}
h2{
    margin-top: 0px;
}
h2 ,h3{
    margin-bottom: 14px;
}
#AddNameInp,#AddInfoInp{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.ArticleList{
    border: 1px solid #bbb9b9;
    padding: 11px;
}
p{
    line-height: 2;
}
#addArtBtn{
    float: right;
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 14px;
    margin-right: 13px;
    margin-top: 50px;
    width: 114px;;
}

.fa-times{
    font-size: 14px;
    float: right;
    color: white;
    margin-top: 13px;
    background-color: #c31111;
    border-radius: 50%;
    padding: 1px 3px;
}
.imgCont{
    border: 1px solid #cac1c1;
    padding: 4px;
    margin-bottom: 9px;
    border-radius: 6px;
    height: 96px;
}
img{
    width: 100%;
    height: 85px;
    margin-bottom: 20px;
    border-radius: 2px;
}
.bold{
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 13px;
}
article:nth-child(odd) {
    background: #e4e4e4;
}
article{
    line-height: 4;
}
#ulCont{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
    color: black;
    padding: 7px;
    margin-bottom: 28px;
    border: 1px solid #bbb9b9;
}
#ErrorMsg{
    color: #b50d0d;
    font-weight: bold;
    text-align: center;
}

.ng-touched.ng-invalid-required {
    border-color: #b70b0b;
}

.uploadCont{
    margin-top: 16px;
}